<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <header>
        <nav>
            <a href="/html/">首页</a> |
  <a href="/css/">文档</a> |
  <a href="/js/">源码</a> |
  <a href="/jquery/">支持</a>
        </nav>
        <section>
            <form action="login" method="post" target="" >
                <p>请输入对应的用户名和密码：</p>
                <p>账号：<input type="text" name="username" placeholder="用户名"></p>
                <p>密码：<input type="password" name="password" placeholder="密码"></p>
                <input type="hidden" name="key" value="The encrypted values">
                <p><input type="submit" value="登陆"></p>
            </form></section>
        <article></article>
        <aside></aside>
        <footer></footer>
    </header></div>
<div>
    <iframe src="" name="display">
    </iframe>
</div>
</body>
</html>